<%= form_for(@post) do |f| %>

  <%= image_tag @post.image_url(:medium) %>

<div class="field">
  <%= f.label :comments %>
  <%= f.text_area :comments %>
</div>

<% end %>

<!-- <Comment::ActiveRecord_Associations_CollectionProxy:0x007fa21aa6d7e0> -->
